<p>
  bind works!
</p>
<button (click)="doOnClick($event)">点击</button><br/>
<input value="Tom" (input)="doOnInput($event)"/><br/>
<img [src]="imgUrl"/>&nbsp;<img src={{imgUrl}}/>

<table>
  <tr>
    <td [attr.colspan]="size">KyleWang</td>
  </tr>
</table>

<div class="a b c">Angular学习</div>
<div [class]="divClassStr">Angular学习</div>
<div class="a b" [class.c]="isBig">Angular学习</div>
<div [ngClass]="divClass">Angular学习</div>
<div [style.color]="isDev?'red':'blue'">Angular学习</div>
<div [ngStyle]="divStyle">Angular学习</div>

<!-- 双向绑定 -->
<input [value]="name" (input)="doOnInput($event)"/>
<input [(ngModel)]="name">
{{name}}

<!--管道-->
<p>大写转小写{{uppercase|lowercase}}</p>
<p>我的生日是{{birthday|date:'yyyy-MM-dd HH:mm:ss'}}</p>
<p>圆周率是{{pi|number:'2.4-4'}}</p>
<p>试试我自己写的管道{{size|multiple:'5'}}</p>

